* {
    margin: 0;
    padding: 0;
}

.Logo {
    display: block !important;
    margin: 0 auto 25px auto !important;
    width: 250px !important;
    height: 154px !important;
}

@media (max-width: 320px) {
    .Logo {
        margin: auto;
    }
}
